Repository scalar/scalar, changes with the owners that CODEOWNERS names for each.
All owners: @hanspagel, @amritk, @geoffgscott, @marclave, @hwkr, @cameronrohani, @xC0dex

chore: use fastify 4 in some packages
  examples/cdn-api-reference/package.json
  integrations/aspire/playground/Scalar.Aspire.UserService/package.json
  integrations/nestjs/package.json
Owners: @hanspagel, @amritk, @geoffgscott, @marclave, @xC0dex

chore: reset fastify example to 4
  examples/fastify/package.json
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: reset fastify-api-reference
  integrations/fastify/package.json
Owners: @hanspagel, @marclave

chore: update lock file
  pnpm-lock.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: reset fastify version (#6046)
  examples/fastify/package.json
  integrations/aspire/playground/Scalar.Aspire.UserService/package.json
  integrations/fastify/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave, @xC0dex

chore: add comments
  packages/workspace-store/src/schemas/reference-config/index.ts
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

feat(workspace-store): create types and validator for reference config schema (#6016)
  .changeset/cold-radios-help.md
  packages/workspace-store/package.json
  packages/workspace-store/scripts/generate-json-schemas.ts
  packages/workspace-store/src/schemas/reference-config/appearance.ts
  packages/workspace-store/src/schemas/reference-config/features.ts
  packages/workspace-store/src/schemas/reference-config/index.ts
  packages/workspace-store/src/schemas/reference-config/meta.ts
  packages/workspace-store/src/schemas/reference-config/reference-config.json
  packages/workspace-store/src/schemas/reference-config/routing.ts
  packages/workspace-store/src/schemas/reference-config/settings.ts
  pnpm-lock.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

docs(changeset): fix: autofocus scroll on popover panel
  .changeset/yellow-bobcats-dance.md
Owners: none

test(components): add test coverage for focus behavior
  packages/components/src/components/ScalarCombobox/ScalarCombobox.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
Owners: @hwkr, @marclave

fix: autofocus on popover
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
Owners: @hwkr, @marclave

fix(components): janky scroll on combobox autofocus (#6032)
  .changeset/yellow-bobcats-dance.md
  packages/components/src/components/ScalarCodeBlock/ScalarCodeBlock.vue
  packages/components/src/components/ScalarCombobox/ScalarCombobox.test.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/components/src/components/ScalarCombobox/ScalarComboboxPopover.vue
Owners: @hwkr, @marclave

feat: add configuration mapping
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
  packages/workspace-store/src/helpers/json-path-utils.ts
  packages/workspace-store/src/helpers/merge-object.test.ts
  packages/workspace-store/src/helpers/merge-object.ts
  packages/workspace-store/src/schemas/reference-config/index.ts
  packages/workspace-store/src/types.ts
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: add type documentation
  packages/workspace-store/src/types.ts
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

docs(changeset): feat(workspace-store) add configuration mapping to the workspace store
  .changeset/rare-dryers-agree.md
Owners: none

chore: reset the WorkspaceStore type
  packages/workspace-store/src/client.ts
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

feat(workspace-store): worksapce configuration schema
  packages/workspace-store/scripts/generate-json-schemas.ts
  packages/workspace-store/src/schemas/workspace-specification/config.ts
  packages/workspace-store/src/schemas/workspace-specification/index.ts
  packages/workspace-store/src/schemas/workspace-specification/info.ts
  packages/workspace-store/src/schemas/workspace-specification/workspace-specification.json
  packages/workspace-store/src/schemas/workspace.ts
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: unify worksapce configuration
  packages/workspace-store/src/client.test.ts
  packages/workspace-store/src/client.ts
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

feat(docker-ci): switch to blacksmith action
  .github/workflows/ci.yml
Owners: @hanspagel, @geoffgscott

remove aline suffix
  integrations/docker/Dockerfile
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

docs(changeset): chore: improved ci
  .changeset/thick-snakes-marry.md
Owners: none

fix(ci): remove unnecessary Docker setup
  .github/workflows/ci.yml
Owners: @hanspagel, @geoffgscott

load image
  .github/workflows/ci.yml
Owners: @hanspagel, @geoffgscott

trigger ci
  integrations/docker/.gitignore
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

update exitcode
  .github/workflows/ci.yml
  integrations/docker/Dockerfile
Owners: @hanspagel, @geoffgscott, @amritk, @marclave

feat(docker-ci): switch to blacksmith action (#6044)
  .changeset/thick-snakes-marry.md
  .github/workflows/ci.yml
  integrations/docker/.gitignore
  integrations/docker/Dockerfile
Owners: @hanspagel, @geoffgscott, @amritk, @marclave

refactor: simplify how schemas are passed around
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/hooks/useOperationDiscriminator.ts
Owners: @hanspagel, @marclave

chore: update comment
  packages/api-reference/src/features/Operation/Operation.vue
Owners: @hanspagel, @marclave

fix: prop missing
  packages/api-reference/src/components/Content/Content.vue
Owners: @hanspagel, @marclave

chore: update comment
  packages/api-reference/src/features/Operation/Operation.test.ts
Owners: @hanspagel, @marclave

chore: update test name
  packages/api-reference/src/hooks/useOperationDiscriminator.test.ts
Owners: @hanspagel, @marclave

feat: pass down document and operation object
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Owners: @hanspagel, @marclave

fix: TS errors
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/features/Search/useSearchIndex.ts
Owners: @hanspagel, @marclave

docs(changeset): refactor: render regular OpenAPI Operation Object
  .changeset/empty-emus-promise.md
Owners: none

refactor: use new operation object anywhere
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Owners: @hanspagel, @marclave

refactor: use operation object instead of transformedOperation in the classic layout
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Owners: @hanspagel, @marclave

refactor: remove transformed operation
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callback.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Owners: @hanspagel, @marclave

fix: doesn’t show webhook badge
  packages/api-reference/src/blocks/helpers/getPointer.ts
  packages/api-reference/src/blocks/hooks/useBlockProps.ts
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
Owners: @hanspagel, @marclave

refactor: less transformed operations
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/sidebar/helpers/create-sidebar.ts
  packages/api-reference/src/hooks/useOperationDiscriminator.ts
Owners: @hanspagel, @marclave

refactor: less transformed operations again
  packages/api-reference/src/features/Search/useSearchIndex.ts
  packages/api-reference/src/libs/openapi.ts
Owners: @hanspagel, @marclave

chore: update comments
  packages/api-reference/src/components/ApiReferenceLayout.vue
Owners: @hanspagel, @marclave

CODEOWNERS:

# Default code owner (overwritten by more specific entries)
* @hanspagel @amritk @geoffgscott @marclave

# Root level code owners
/.github @hanspagel @geoffgscott
/*.md @hanspagel @marclave

# Documentation
/documentation/* @hanspagel @marclave

# Changesets
/.changeset/*

# Cursor rules
/.cursor @hanspagel @amritk 

# Packages
/packages/api-client @amritk @hanspagel @marclave
/packages/api-reference-editor @geoffgscott @marclave
/packages/components @hwkr @marclave
/packages/icons @hwkr @marclave
/packages/galaxy @hanspagel @marclave
/packages/oas-utils @amritk @hanspagel @marclave
/packages/themes @hwkr @cameronrohani @marclave
/projects/scalar-app @hanspagel @marclave
/packages/api-reference-react @amritk @marclave
/integrations/docusaurus @amritk @marclave
/integrations/hono @hanspagel @marclave
# /packages/object-utils
# /packages/use-codemirror
/packages/build-tooling @geoffgscott @marclave
/packages/draggable @amritk @marclave
/packages/mock-server @hanspagel @marclave
# /packages/use-modal
/packages/build-watch @geoffgscott @marclave
/integrations/nestjs @marclave
/integrations/aspire @marclave @hanspagel @xC0dex
/integrations/aspnetcore @marclave @hanspagel @xC0dex
/packages/use-hooks @hwkr @hanspagel @marclave
# /packages/use-toasts
/packages/api-client-react @amritk @marclave
/integrations/express @hanspagel @marclave
/integrations/nextjs @amritk @marclave
/integrations/django-ninja @marclave
# /packages/use-tooltip
/packages/api-reference @hanspagel @marclave
/packages/code-highlight @geoffgscott @marclave
/integrations/fastify @hanspagel @marclave
/integrations/nuxt @amritk @marclave
/integrations/fastapi @marclave
/packages/void-server @hanspagel @marclave
