Repository scalar/scalar, changes with the owners that CODEOWNERS names for each.
All owners: @hanspagel, @amritk, @geoffgscott, @tmastrom, @hwkr, @cameronrohani, @marclave

CODEOWNERS:

# Default code owner (overwritten by more specific entries)
* @hanspagel @amritk @geoffgscott

# Root level code owners
/.github @hanspagel @tmastrom @geoffgscott
/*.md @hanspagel

# Documentation
/documentation/* @hanspagel

# Changesets
/.changeset/*

# Packages
/packages/api-client @amritk
/packages/api-reference-editor @geoffgscott
/packages/components @hwkr
/packages/galaxy @hanspagel
/packages/oas-utils @amritk @hanspagel
/packages/themes @hwkr @cameronrohani
/packages/scalar-app @hanspagel
/packages/api-reference-react @amritk
/integrations/docusaurus @amritk
/integrations/hono @hanspagel
# /packages/object-utils
# /packages/use-codemirror
/packages/build-tooling @geoffgscott
/packages/draggable @amritk
/packages/mock-server @hanspagel
/packages/play-button @marclave
# /packages/use-modal
/packages/build-watch @geoffgscott
/integrations/nestjs @marclave
/integrations/aspnetcore @marclave @hanspagel
/packages/use-hooks @hwkr @hanspagel
# /packages/use-toasts
/packages/api-client-react @amritk
/packages/cli @hanspagel
/integrations/express @hanspagel
/integrations/nextjs @amritk
/integrations/django-ninja @marclave
# /packages/use-tooltip
/packages/api-reference @hanspagel
/packages/code-highlight @geoffgscott
/packages/fastify-api-reference @hanspagel
/integrations/nuxt @amritk
/integrations/fastapi @marclave
/packages/void-server @hanspagel

# Testing
/playwright @tmastrom

feat: make api client open payload optional
  packages/api-client/src/libs/create-client.ts
Owners: @amritk

fix: build
  packages/play-button/src/index.ts
Owners: @marclave

feat(api-client): favors layout hook over isReadOnly
  packages/api-client/src/components/AddressBar/AddressBar.vue
  packages/api-client/src/components/AddressBar/AddressBarServer.vue
  packages/api-client/src/components/CodeInput/CodeInput.vue
  packages/api-client/src/components/CodeInput/codeVariableWidget.ts
  packages/api-client/src/components/EnvironmentSelector/EnvironmentSelector.vue
  packages/api-client/src/components/Sidebar/Sidebar.vue
  packages/api-client/src/libs/create-client.ts
  packages/api-client/src/store/store.ts
  packages/api-client/src/views/Request/Request.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/OAuth2.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestAuthDataTable.vue
  packages/api-client/src/views/Request/RequestSection/RequestAuth/RequestExampleAuth.vue
  packages/api-client/src/views/Request/RequestSection/RequestSection.vue
  packages/api-client/src/views/Request/RequestSidebar.vue
  packages/api-client/src/views/Request/RequestSidebarItem.vue
  packages/api-client/src/views/Request/RequestSubpageHeader.test.ts
  packages/api-client/src/views/Request/RequestSubpageHeader.vue
  packages/api-client/src/views/Request/ResponseSection/ResponseEmpty.vue
  packages/api-client/src/views/Request/handle-drag.ts
  packages/api-reference/src/components/ApiReferenceLayout.vue
Owners: @amritk, @hanspagel

docs(changeset): feat: favors layout hook over isReadOnly
  .changeset/chatty-garlics-deny.md
Owners: none

Update integrations/aspnetcore/README.md
  integrations/aspnetcore/README.md
Owners: @marclave, @hanspagel
