Repository scalar/scalar, changes with the owners that CODEOWNERS names for each.
All owners: @hanspagel, @amritk, @geoffgscott, @marclave, @hwkr, @cameronrohani, @xC0dex

chore: clean up
  packages/api-reference/src/features/Operation/Operation.test.ts
Owners: @hanspagel, @marclave

fix: tests
  packages/api-reference/src/hooks/useOperationDiscriminator.test.ts
Owners: @hanspagel, @marclave

chore: update yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: restore deleted code
  pnpm-workspace.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: udpate lock file
  pnpm-lock.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

chore: update more dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

fix: TS error
  packages/build-tooling/src/esbuild/helpers.ts
Owners: @geoffgscott, @marclave

refactor(api-reference): remove transformed operation from operation components (#6021)
  .changeset/empty-emus-promise.md
  packages/api-reference/src/blocks/helpers/getPointer.ts
  packages/api-reference/src/blocks/hooks/useBlockProps.ts
  packages/api-reference/src/components/ApiReferenceLayout.vue
  packages/api-reference/src/components/Content/Content.vue
  packages/api-reference/src/components/Content/Lazy/Loading.vue
  packages/api-reference/src/components/Content/Tag/TagList.vue
  packages/api-reference/src/features/Operation/Operation.test.ts
  packages/api-reference/src/features/Operation/Operation.vue
  packages/api-reference/src/features/Operation/components/OperationParameters.vue
  packages/api-reference/src/features/Operation/components/OperationResponses.vue
  packages/api-reference/src/features/Operation/components/callbacks/Callback.vue
  packages/api-reference/src/features/Operation/layouts/ClassicLayout.vue
  packages/api-reference/src/features/Operation/layouts/ModernLayout.vue
  packages/api-reference/src/features/Search/useSearchIndex.ts
  packages/api-reference/src/features/sidebar/helpers/create-sidebar.ts
  packages/api-reference/src/hooks/useOperationDiscriminator.test.ts
  packages/api-reference/src/hooks/useOperationDiscriminator.ts
  packages/api-reference/src/libs/openapi.ts
Owners: @hanspagel, @marclave

feat: sorting out a new scalar request example code block
  packages/api-client/package.json
  packages/api-client/src/views/Components/CodeSnippet/CodeSnippet.vue
  packages/api-client/src/views/Components/CodeSnippet/helpers/get-snippet.test.ts
  packages/api-client/src/views/Components/CodeSnippet/helpers/get-snippet.ts
  packages/api-reference/src/features/example-request/ExamplePicker.vue
  packages/api-reference/src/features/example-request/ExampleRequest.vue
  packages/api-reference/src/v2/blocks/scalar-request-example-block/components/RequestExample.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/components/RequestExample.vue
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/find-client.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/find-client.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-client-options.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-client-options.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-code-snippet.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-code-snippet.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/get-secrets.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/get-secrets.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/index.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/types.ts
  packages/api-reference/tsconfig.json
  packages/api-reference/vite.standalone.config.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/openapi-types/src/schemas/extensions/index.ts
  packages/openapi-types/src/schemas/extensions/x-code-samples.ts
  pnpm-lock.yaml
Owners: @amritk, @hanspagel, @marclave, @hwkr, @geoffgscott

fix: broken import
  packages/api-reference/src/v2/blocks/scalar-request-example-block/components/RequestExample.vue
Owners: @hanspagel, @marclave

docs(changeset): refactor: decouple request code block from the state (not in use yet)
  .changeset/bright-rice-cover.md
Owners: none

chore: update test names
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-client-options.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-code-snippet.test.ts
Owners: @hanspagel, @marclave

chore: update some packages in the catalog (yaml, @types/node, ansis …) (#6023)
  packages/build-tooling/src/esbuild/helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @geoffgscott, @marclave, @hanspagel, @amritk

fix(nuxt): set content after grabbing the document (#6025)
  .changeset/lovely-candles-beg.md
  integrations/nuxt/src/runtime/components/ScalarApiReference.vue
Owners: @amritk, @marclave

feat(api-reference): OpenAPI request code example (#6035)
  .changeset/bright-rice-cover.md
  packages/api-client/package.json
  packages/api-client/src/views/Components/CodeSnippet/CodeSnippet.vue
  packages/api-client/src/views/Components/CodeSnippet/helpers/get-snippet.test.ts
  packages/api-client/src/views/Components/CodeSnippet/helpers/get-snippet.ts
  packages/api-reference/src/features/example-request/ExamplePicker.vue
  packages/api-reference/src/features/example-request/ExampleRequest.vue
  packages/api-reference/src/v2/blocks/scalar-request-example-block/components/RequestExample.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/components/RequestExample.vue
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/find-client.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/find-client.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-client-options.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-client-options.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-code-snippet.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/generate-code-snippet.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/get-secrets.test.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/helpers/get-secrets.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/index.ts
  packages/api-reference/src/v2/blocks/scalar-request-example-block/types.ts
  packages/api-reference/tsconfig.json
  packages/api-reference/vite.standalone.config.ts
  packages/components/src/components/ScalarCombobox/ScalarComboboxOptions.vue
  packages/openapi-types/src/schemas/extensions/index.ts
  packages/openapi-types/src/schemas/extensions/x-code-samples.ts
  pnpm-lock.yaml
Owners: @amritk, @hanspagel, @marclave, @hwkr, @geoffgscott

docs(Scalar.AspNetCore): unified Readme and docs improvements
  documentation/integrations/dotnet.md
  integrations/aspnetcore/README.md
Owners: @hanspagel, @amritk, @geoffgscott, @marclave, @xC0dex

simplify docs
  documentation/integrations/dotnet.md
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

link
  integrations/aspnetcore/README.md
Owners: @marclave, @hanspagel, @xC0dex

docs(changeset): docs: simplified Readme
  .changeset/pink-readers-smile.md
Owners: none

renamed to aspnetcore
  documentation/integrations/aspnetcore.md
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

’
  integrations/aspnetcore/README.md
Owners: @marclave, @hanspagel, @xC0dex

links
  documentation/integrations/aspire.md
  scalar.config.json
Owners: @hanspagel, @amritk, @geoffgscott, @marclave

docs(Scalar.AspNetCore): unified Readme and docs improvements (#6054)
  .changeset/pink-readers-smile.md
  documentation/integrations/aspire.md
  documentation/integrations/aspnetcore.md
  integrations/aspnetcore/README.md
  scalar.config.json
Owners: @hanspagel, @amritk, @geoffgscott, @marclave, @xC0dex

fix: uses empty summary for the sidebar entries
  packages/api-reference/src/features/sidebar/helpers/create-sidebar.test.ts
  packages/api-reference/src/features/traverse-schema/helpers/traverse-paths.ts
Owners: @hanspagel, @marclave

docs(changeset): fix: uses empty operation summary for the sidebar entry
  .changeset/dirty-bulldogs-eat.md
Owners: none

docs: update operationsSorter example
  documentation/configuration.md
Owners: @hanspagel, @marclave

docs: update operationsSorter example (#6056)
  documentation/configuration.md
Owners: @hanspagel, @marclave

fix(api-reference): uses empty summary for the sidebar (#6055)
  .changeset/dirty-bulldogs-eat.md
  packages/api-reference/src/features/sidebar/helpers/create-sidebar.test.ts
  packages/api-reference/src/features/traverse-schema/helpers/traverse-paths.ts
Owners: @hanspagel, @marclave

CODEOWNERS:

# Default code owner (overwritten by more specific entries)
* @hanspagel @amritk @geoffgscott @marclave

# Root level code owners
/.github @hanspagel @geoffgscott
/*.md @hanspagel @marclave

# Documentation
/documentation/* @hanspagel @marclave

# Changesets
/.changeset/*

# Cursor rules
/.cursor @hanspagel @amritk 

# Packages
/packages/api-client @amritk @hanspagel @marclave
/packages/api-reference-editor @geoffgscott @marclave
/packages/components @hwkr @marclave
/packages/icons @hwkr @marclave
/packages/galaxy @hanspagel @marclave
/packages/oas-utils @amritk @hanspagel @marclave
/packages/themes @hwkr @cameronrohani @marclave
/projects/scalar-app @hanspagel @marclave
/packages/api-reference-react @amritk @marclave
/integrations/docusaurus @amritk @marclave
/integrations/hono @hanspagel @marclave
# /packages/object-utils
# /packages/use-codemirror
/packages/build-tooling @geoffgscott @marclave
/packages/draggable @amritk @marclave
/packages/mock-server @hanspagel @marclave
# /packages/use-modal
/packages/build-watch @geoffgscott @marclave
/integrations/nestjs @marclave
/integrations/aspire @marclave @hanspagel @xC0dex
/integrations/aspnetcore @marclave @hanspagel @xC0dex
/packages/use-hooks @hwkr @hanspagel @marclave
# /packages/use-toasts
/packages/api-client-react @amritk @marclave
/integrations/express @hanspagel @marclave
/integrations/nextjs @amritk @marclave
/integrations/django-ninja @marclave
# /packages/use-tooltip
/packages/api-reference @hanspagel @marclave
/packages/code-highlight @geoffgscott @marclave
/integrations/fastify @hanspagel @marclave
/integrations/nuxt @amritk @marclave
/integrations/fastapi @marclave
/packages/void-server @hanspagel @marclave
